/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  padding: 0;
  background-color: #eef2f5;
}
.app-content {
  margin-top: 56px;
  display: flex;
}

/* Add your global styles here */
